:root{
  --primary-color: #1E90FF;
  --secondary-color: #0F4C75;
  --background-color: #121212;
  --card-background: #1E1E1E;
  --text-color: #E0E0E0;
  --secondary-text: #A0A0A0;
  --error-color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #62B1FF;  /* Darker blue for contrast */
  --secondary-color: #14708a; /* Keeping it the same */
    --background-color: #FFFFFF; /* Light background */
    --card-background: #F5F5F5; /* Light gray for cards */
    --text-color: #212121; /* Dark text for readability */
    --secondary-text: #555555; /* Softer dark gray */
    --error-color: red; /* Keeping it the same */
  }
    
  }