@import "../styles/colors.css"; /* Import color variables */

/* Center the form */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}
  
/* Form box */
.loginForm {
    background: var(--card-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
}
  
/* Title */
.loginForm h2 {
    margin-bottom: 15px;
    color: var(--text-color);
}
  
/* Inputs */
.loginForm label {
    display: block;
    text-align: left;
    width:100%;
    margin: 10px 0 5px;
    font-weight: bold;
    color: var(--text-color);
}
  
.loginForm input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--secondary-text);
    border-radius: 5px;
    background: var(--card-background);
    color: var(--text-color);
}
  
/* Button */
.loginForm button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: var(--secondary-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}
  
.loginForm button:hover {
    background: var(--primary-color);
}
  
/* Error text */
.errorText {
    color: var(--error-color);
    font-size: 14px;
    margin-bottom: 10px;
}

.signUp{
    display: flex;
    color: var(--secondary-text);
    margin-top: 20px;
    align-items: center;
}

.signUp *{
    font-size: medium;
}

.link{
    color: var(--text-color);
    font-weight: bold;
    margin-left: 10px;
}

@media (max-width: 1000px) {
    .loginForm {
        width: 60%;
    }
    
}